<div class="wrapper">
  <h2 mat-dialog-title class="title">{{ name }}</h2>
  <mat-dialog-content class="mat-typography content">
    <div class="container">
      <div class="container_img">
        <img mat-card-image [src]="image" class="imageTurn" />
      </div>
      <div class="desc">
        <p class="principal">
          {{ description }}
        </p>
        <p class="price">COP {{ price | currency }}</p>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="actions">
    <button
      mat-raised-button
      mat-dialog-close
      color="warn"
      (click)="closeDialog()">
      SALIR
    </button>
    <button
      mat-raised-button
      class="buttonColor"
      [mat-dialog-close]="true"
      cdkFocusInitial>
      <a class="actions_link" target="_blank" href="http://wa.me/573158348468"
        >COMPRAR</a
      >
    </button>
  </mat-dialog-actions>
</div>
